<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>黄河文化 - 黄河文化网--陕西省黄河文化经济发展研究会</title>
	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
	
  </head>
  
  <body>
	<!--head-->
	<div class="container my-30 d-none d-sm-block">
		<div class="row">
			<div class="col-md-8">
				<a href="{{ url_for('index') }}"><img decoding="async" class="img-fluid" src="static/picture/5d35c5b4293fb3cd799c9fbd549f6029.png" style="width:450px"></a>
			</div>
			<div class="col-md-4 align-self-center mt-4">
				<p class="logo-right">弘扬黄河文化   传播中华文明</p>
			</div>
		</div>
	</div>
	
	<div class="container-fiuld head_nav d-none d-sm-block">
		<div class="container">
			<div class="row">
		      <div class="col nav_title text-center"><a href="{{ url_for('index') }}">首页</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('huangyanhuigaikuang') }}">黄研会概况</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('xinwendongtai') }}">新闻动态</a></div>
						  <div class="col nav_title text-center"><a href="" class="active">黄河文化</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('huanghejingji') }}">黄河经济</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('xiandaihuayanjiu') }}">现代化研究</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('shengtaihuanbao') }}">生态环保</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('kejijiaoyu') }}">科技教育</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('huanghelvyou') }}">黄河旅游</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('huanghemeishi') }}">黄河美食</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('jiankangwenhua') }}">健康文化</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('minsujieqing') }}">民俗节庆</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('huanghemeitu') }}">图片视频</a></div>
						  <div class="col nav_title text-center"><a href="{{ url_for('huangyanhuichengyuan') }}">黄研会成员</a></div>
						</div>
		</div>
		
	</div>
	
	
	

	
	
	<!--移动端的导航-->
	<div class="container my-2 d-block d-sm-none">
	    <div class="row">
    		<nav class="navbar navbar-expand-lg navbar-light">
    		  <!-- <a class="navbar-brand" href="#">首页</a> -->
    		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
    		  </button>
    			<div class="container">
    			<div class="row">
    		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
    			<div class="d-md-flex">
    				<div class="  col">
    				<li class="nav-item">
        				<a class="nav-link " href="{{ url_for('index') }}">首页</a>
        			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('huangyanhuigaikuang') }}">黄研会概况</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('xinwendongtai') }}">新闻动态</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="">黄河文化</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('huanghejingji') }}">黄河经济</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('xiandaihuayanjiu') }}">现代化研究</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('shengtaihuanbao') }}">生态环保</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('kejijiaoyu') }}">科技教育</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('huanghelvyou') }}">黄河旅游</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('huanghemeishi') }}">黄河美食</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('jiankangwenhua') }}">健康文化</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('minsujieqing') }}">民俗节庆</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('huanghemeitu') }}">图片视频</a>
    			  </li>
    			    			  <li class="nav-item ">
    				<a class="nav-link " href="{{ url_for('huangyanhuichengyuan') }}">黄研会成员</a>
    			  </li>
    			    			  </div>
    			</div></ul>
    		  </div>
    		  </div>
    		  </div>
    		</nav>
        	<div class="logo_wap">
				<a href="{{ url_for('index') }}"><img decoding="async" class="img-fluid" src="static/picture/logo_wap.png"></a>
			</div>
	    </div>
	</div>
	
	    
		<!--<div class="row">-->
		<!--	<div class="col-md-12">-->
		<!--		<a href="/"><img decoding="async" class="img-fluid" src="/assets/hh/images/logo.jpg"></a>-->
		<!--	</div>-->
			 <!--<div class="col-md-4 align-self-center"> -->
				<!-- <p class="logo-right">传承黄河文化   弘扬中华文明</p> -->
			 <!--</div> -->
		<!--</div>-->


	
	
	<!--tabs-->
	<div class="container">
		<div class="row my-5">
			<div class="col-md-9">
					<!--ad1-->
					<div class="ad1">
													<a href="javascript:;"><img decoding="async" class="img-fluid" src="static/picture/3e83b5db09a145d0588e8f8342113f0d.jpg"></a>
											</div>
															<div class="nei_class my-4">
						黄河文化					</div>
										<div class="nei_class_son mb-4 row no-gutters">
												<div><a href="" class="">黄河宣言</a></div>
												<div><a href="" class="">黄河文化论坛</a></div>
												<div><a href="" class="">黄河文化论丛</a></div>
												<div><a href="" class="">黄河文化学研究</a></div>
												<div><a href="" class="">黄河国家文化公园</a></div>
												<div><a href="" class="">黄河文化数字化</a></div>
												<div><a href="" class="">黄河文艺</a></div>
												<div><a href="" class="">黄河书画</a></div>
												<div><a href="" class="">黄河人物</a></div>
												<div><a href="" class="">黄河诗词</a></div>
												<div><a href="" class="">黄河非遗</a></div>
												<div><a href="" class="">黄河文化交流</a></div>
											</div>
				
					
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/a49ce67bfc810c37fa0d0011137cfa18.jpeg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">闪烁在黄河上游的绿色“明珠”</a></div>
								<div class="news_desc ls2">龙羊峡水电站。青海省能源局供图&emsp;&emsp;海南藏族自治州地处黄河上游，黄河贯穿全境五县20个乡镇，在411公里的黄河干流上，坐落着几颗耀眼的“明珠”，它们巍然屹立，横跨高山峡谷，将奔流不息的黄河水转化为源源不断的“绿色”能源，顺着条条“银线”输送到大江南北。不仅点亮了万家灯火，还奏响了绿色水电的“交响曲”。&emsp;&emsp;为了探寻水电站背后的“绿色密码”，我们从海南州共和县向东</div>
								<div class="news_date py-3 tabs_desc">2024-03-21</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/c8ea10ed2c3a96db899a5a3bc66bcbf4.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">黄河礼赞</a></div>
								<div class="news_desc ls2">编者按 凡作家、诗人都有着透彻社会的双眼，有着洞察社会的能力，这可能是本能。可谓处处是风景，满目皆文章。读崔学民先生的《黄河礼赞》，将会感受母亲河的伟大与胸襟，理解中华民族文化的精髓，触摸到黄河文化的根与魂。本期刊发崔学民先生诗歌《黄河礼赞》，以飨读者。黄河礼赞文/崔学民 黄河，孕育了无数的华夏儿女，滋润了富饶辽阔的神州大地。让亿万生灵，</div>
								<div class="news_date py-3 tabs_desc">2024-03-20</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/d2bbe7cfffe0c1c64fefa27f2985bf0a.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">黄河之名的最早出处</a></div>
								<div class="news_desc ls2">黄河是中华民族的母亲河。自生民以来，黄河流域就是中华民族的栖息繁衍之地和中华文明形成发展的家园。黄河水的黄色，成为中华民族的文化符号。它奔流到海的气势，成为中华民族精神的一种象征。“使黄河如带”何意黄河发源于青海省巴颜喀拉山北麓，穿过青海、四川、甘肃、宁夏、内蒙古、山西、陕西、河南、山东9个省区，最后注入渤海。《黄河水利史述要》（黄河水利出版社2003年版）说：黄河自青海卡日曲发源以后，沿途汇集了</div>
								<div class="news_date py-3 tabs_desc">2024-02-29</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/e4e6080b0482e5766031cd2c1a0aeca0.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">黄河文化，中华民族的根与魂</a></div>
								<div class="news_desc ls2">蒙晋陕黄河大峡谷在落日余晖的映照下壮美如画。新华社 发“宅兹中国——河南夏商周三代文明展”上展出的夏代晚期文物“镶嵌绿松石兽面纹牌饰”（左）和春秋晚期文物“镶嵌绿松石神兽”（右）。 新华社 发黄帝文化和黄河文化是我们中华民族的凝聚点，这个凝聚点就是国家认同、民族认同和文化认同，这是我们子子孙孙所传承的文化基因，是烙印在我们血脉之中的家国情怀。——刘庆柱古代黄河是一条什么样的河？为什么说黄帝是中国人</div>
								<div class="news_date py-3 tabs_desc">2024-02-26</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/a7602f34de8186f90a3fa56003f22f99.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">黄河流过故乡的日子</a></div>
								<div class="news_desc ls2">黄河冲出黑山峡跌跌撞撞的桎梏遗落下南长滩梨花雪白的足迹只有在沙坡头鸣钟的记忆里释放出豪放的诗意黄河流过故乡璀璨的历史即使腾格里沙漠粗犷的磨砺也不能遮蔽巍峨香山徘徊的影子硒砂瓜圆润的情绪汩汩流淌着美丽渠清澈的日子古老村庄的袅袅炊烟始终漂泊在思念的梦里许多年来无论我在哪里都能触摸到沙枣花清香的气息</div>
								<div class="news_date py-3 tabs_desc">2024-01-09</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/7e55e9ba0c099cd5ff4678e3b8157a94.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">我梦中的黄河 </a></div>
								<div class="news_desc ls2">我梦中的黄河就像父亲一样一辈子匍匐在黄土高坡蜿蜒的岁月记不清有多少山川沟壑流淌着祖先浑浊的血液直到乾坤湾气势的磅礴彻底震撼了我们的视野千百年来这浑厚的河流穿越了长城不朽的烽火即使今天仍然矗立在我们沸腾的脉搏</div>
								<div class="news_date py-3 tabs_desc">2024-01-09</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/9ca6f4665852ecf77d78f6769c08393e.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">【世界文学★签约作家】王满院《植保站长》</a></div>
								<div class="news_desc ls2">一初冬，未时。天湛蓝湛蓝的，飘着朵朵白云。太阳，高高地照着，感觉暖洋洋的。北原上，县道旁，有一片20多亩大的果园，果树刚被修剪过，棵棵都显得精神抖擞。空寂的果树地里，有一个人，个子挺高，人很削瘦，大眼睛，浓眉毛，留着平头，年龄在五十岁左右，穿着一身深蓝色的工作服。他围着一棵树龄有10年的苹果树，时而站着，时而蹲着，东瞅瞅，西看看。用手里的小刀，刮掉了树杆上腐烂的树皮，露出了白色洁净的树杆内茎，然后</div>
								<div class="news_date py-3 tabs_desc">2024-01-08</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href=""><img decoding="async" class="img-fluid list-img" src="static/picture/91a5dcc9c55543580df47c890cf4e982.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="">【世界文学★签约作家】王满院《一次生命享受之旅》</a></div>
								<div class="news_desc ls2">一次生命享受之旅王满院去年七月，我开启了一场生命享受之旅。乌伦古湖   迎着晨曦，我们从乌鲁木齐出发，奔赴布尔津。   车子沿阿乌高速一路向北，穿越准噶尔盆地，茫茫沙漠，寸草不生，满眼荒芜。裸露的地皮上寻不到一丁点绿色.....   约摸下午三点左右，忽如</div>
								<div class="news_date py-3 tabs_desc">2024-01-02</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href="{{ url_for('h231') }}"><img decoding="async" class="img-fluid list-img" src="static/picture/66842f7bfe0c64f937cd132519f1e639.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="{{ url_for('h231') }}">黄河情 | 张志功——在习仲勋身边工作的二十年</a></div>
								<div class="news_desc ls2">“风雨二十年，思未断，梦萦魂牵。父兄情，三生有幸，恩重如山。呕心教诲犹如昨，耳提面命声未远。已十载，独立望西天，难入眠。开国泰，辅民安。遭诬陷，志弥坚。行人间正道，义胆侠肝。</div>
								<div class="news_date py-3 tabs_desc">2023-06-06</div>
							</div>
						</div>
					</div>
										<div class="news_area mb-4">
						<div class="row">
							<div class="news_area_left_img col-sm-3 mb-4"><a href="{{ url_for('h126') }}"><img decoding="async" class="img-fluid list-img" src="static/picture/afaca3fad1b978a70be8c82dc298062d.jpg"></a></div>
							<div class="news_area_right col-sm-9">
								<div class="news_title text-truncate"><a href="{{ url_for('h126') }}">黄河文化论坛在东营开幕</a></div>
								<div class="news_desc ls2">4月18日上午，由中国社会科学院、中国公共关系协会、山东省人民政府共同主办的黄河文化论坛在东营市开幕。本次论坛以“弘扬黄河文化 讲好黄河故事”为主题，旨在深入学习贯彻习近平新时代中国特色社会主义思想和党的二十大精神，落实黄河流域生态保护和高质量发展重大国家战略，深入挖掘黄河文化蕴含的丰富内涵、时代价值，凝心聚力推进中国式现代化建设实践。</div>
								<div class="news_date py-3 tabs_desc">2023-04-24</div>
							</div>
						</div>
					</div>
										<div class="j_pages">
					 <div class="box"> 
						 <ul class="pagination"><li class="disabled"><span>&laquo;</span></li> <li class="active"><span>1</span></li><li><a href="/huanghewenhua.html?orderway=desc&amp;page=2">2</a></li><li><a href="/huanghewenhua.html?orderway=desc&amp;page=3">3</a></li> <li><a href="/huanghewenhua.html?orderway=desc&amp;page=2">&raquo;</a></li></ul>					 </div>                            
					 <div class="clear"></div>
					</div>
			</div>
			<div class="col-md-3 d-none d-sm-block">
				<div class="tab-right-title">
					<div class="tab-right-hr"></div>
					<div class="tab-right-class">民俗节庆<small class="right_more"><a href="{{ url_for('minsujieqing') }}">更多+</a></small></div>
										<div class="tab-right-li">
						<div class="row no-gutters">
							<div class="col-3 right-li-date">
								23 <small>/ 05月</small>
							</div>
							<div class="col-9 right-li-title mt-3 pl-3">
								<a href="{{ url_for('h112') }}">“安塞县举行第二届“十大孝子”颁奖典礼</a>
							</div>
						</div>
					</div>
										<div class="tab-right-li">
						<div class="row no-gutters">
							<div class="col-3 right-li-date">
								25 <small>/ 05月</small>
							</div>
							<div class="col-9 right-li-title mt-3 pl-3">
								<a href="{{ url_for('h211') }}">【黄河民俗】元宵节</a>
							</div>
						</div>
					</div>
										<div class="tab-right-li">
						<div class="row no-gutters">
							<div class="col-3 right-li-date">
								27 <small>/ 01月</small>
							</div>
							<div class="col-9 right-li-title mt-3 pl-3">
								<a href="{{ url_for('h210') }}">五谷丰登幸福年——山东黄河流域的过年习俗</a>
							</div>
						</div>
					</div>
										<div class="tab-right-li">
						<div class="row no-gutters">
							<div class="col-3 right-li-date">
								14 <small>/ 04月</small>
							</div>
							<div class="col-9 right-li-title mt-3 pl-3">
								<a href="{{ url_for('h208') }}">“风起黄河 筝约潼关”首届风筝大赛 试飞成功</a>
							</div>
						</div>
					</div>
									</div>
				<div class="ad2 my-5">
									
					<a href="javascript:;"><img decoding="async" class="img-fluid" src="static/picture/2ab103c88ef714c38feeab62c0276a66.jpg"></a>
					
					
					
									
					<a href="javascript:;"><img decoding="async" class="img-fluid" src="static/picture/2ab103c88ef714c38feeab62c0276a66.jpg"></a>
					
					
					
								</div>
				
				<div class="tab-right-title">
					<div class="tab-right-hr"></div>
					<div class="tab-right-class">图片视频<small class="right_more"><a href="{{ url_for('huanghemeitu') }}">更多+</a></small></div>
					<div class="tab-right-sp-li">
						<div class="row no-gutters">
														<div class="col-md-6 col-sm-12 mt-3">
								<div class="right-sp-li">
									<a href="{{ url_for('h204') }}"><img decoding="async" class="img-fluid" src="static/picture/ea49d7f02260484b3208d45d5ca7133e.jpg"></a>
									<div class="right-sp-title text-truncate text-center"><a href="{{ url_for('h204') }}">冬日黄河 壮丽奇美</a></div>
								</div>
							</div>
														<div class="col-md-6 col-sm-12 mt-3">
								<div class="right-sp-li">
									<a href="{{ url_for('h206') }}"><img decoding="async" class="img-fluid" src="static/picture/6644ef7ab6ccfd3c3c1844a605c051a9.jpg"></a>
									<div class="right-sp-title text-truncate text-center"><a href="{{ url_for('h206') }}">黄河壶口现“彩虹飞瀑”景观</a></div>
								</div>
							</div>
														<div class="col-md-6 col-sm-12 mt-3">
								<div class="right-sp-li">
									<a href="{{ url_for('h201') }}"><img decoding="async" class="img-fluid" src="static/picture/27260468770b0b25296211cd689c82be.jpg"></a>
									<div class="right-sp-title text-truncate text-center"><a href="{{ url_for('h201') }}">黄河壶口瀑布现“半清半浊”景观</a></div>
								</div>
							</div>
														<div class="col-md-6 col-sm-12 mt-3">
								<div class="right-sp-li">
									<a href="{{ url_for('h200') }}"><img decoding="async" class="img-fluid" src="static/picture/55dbc4d514b1cf1a29c8717f7c9bda39.jpg"></a>
									<div class="right-sp-title text-truncate text-center"><a href="{{ url_for('h200') }}">黄河入海流——黄河流域生态保护</a></div>
								</div>
							</div>
														<div class="col-md-12 mt-3">
								<div class="right-video">
									<div class="play-thumbimg">
										<a href="{{ url_for('h257') }}" class="thumbimg"><img decoding="async" class="img-fluid" src="static/picture/4c53b1fad30767411a4a0bf383b6654e.jpg"></a>
										<a href="{{ url_for('h257') }}" class="playWrapper">
										  <span class="playBtn"><img src="static/picture/play.png" alt=""></span>
									    </a>
									</div>
									<div class="right-sp-title text-truncate text-center"><a href="{{ url_for('h257') }}">陕西黄河文化经济发展研究会黄河文化网工作汇报会</a></div>
								</div>
							</div>
													</div>
					</div>
				</div>
				
				<div class="tab-right-title mt-3">
					<div class="tab-right-hr"></div>
					<div class="tab-right-class">健康文化<small class="right_more"><a href="{{ url_for('jiankangwenhua') }}">更多+</a></small></div>
					
										<div class="tab-right-li my-4">
						<div class="row no-gutters">
							<div class="col-4">
								<a href="{{ url_for('h193') }}"><img decoding="async" class="img-fluid" src="static/picture/bded0cad97dd130d324f5bd3f6400572.jpg"></a>
							</div>
							<div class="col-8 right-jk-title ls3 pl-3">
								<a href="{{ url_for('h193') }}">杂粮作为传统食物，被细粮所代替后又如何重新回归人们视线的</a>
							</div>
						</div>
					</div>
										<div class="tab-right-li my-4">
						<div class="row no-gutters">
							<div class="col-4">
								<a href="{{ url_for('h192') }}"><img decoding="async" class="img-fluid" src="static/picture/ebd1953090d47afbdcdcbf0026fa3311.jpg"></a>
							</div>
							<div class="col-8 right-jk-title ls3 pl-3">
								<a href="{{ url_for('h192') }}">吃一份食物，换一份“生命值”！不同食物“生命值”不同！</a>
							</div>
						</div>
					</div>
										<div class="tab-right-li my-4">
						<div class="row no-gutters">
							<div class="col-4">
								<a href="{{ url_for('h190') }}"><img decoding="async" class="img-fluid" src="static/picture/2a61d90a344bf6755c5001603f03f29d.gif"></a>
							</div>
							<div class="col-8 right-jk-title ls3 pl-3">
								<a href="{{ url_for('h190') }}">秋季运动小贴士秋季运动益处多多</a>
							</div>
						</div>
					</div>
										<div class="tab-right-li my-4">
						<div class="row no-gutters">
							<div class="col-4">
								<a href="{{ url_for('h194') }}"><img decoding="async" class="img-fluid" src="static/picture/539cb8b00779c9da48582dd6e1f0d6c2.jpeg"></a>
							</div>
							<div class="col-8 right-jk-title ls3 pl-3">
								<a href="{{ url_for('h194') }}">建设健康中国缘何成为“生活方式的革命”？丨中国这十年·焦点面对面 </a>
							</div>
						</div>
					</div>
									</div>
			</div>
		</div>
	</div>
	
	<!--ad2-->
	<div class="container">
		<div class="row">
			<div class="col-md-12 my-4">
													<a href="javascript:;"><img decoding="async" class="img-fluid" src="static/picture/3e83b5db09a145d0588e8f8342113f0d.jpg"></a>
									</div>
		</div>
	</div>
	
	
	
	<!--friedlink-->
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-12 link_title my-4 py-2">
				相关链接
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group select_friend">
				  <select class="form-control" id="sel1" onchange="javascript:window.open(this.options[this.selectedIndex].value);this.size=0" onmousedown="if(this.options.length>6){this.size=7}" onblur="this.size=0">
					<option value="javascript:;">沿线9省政府网站</option>
				  					<option value="http://www.chinahuanghe.org/">中国黄河文化经济发展研究会</option>
				  					<option value="http://www.qinghai.gov.cn/">青海省人民政府</option>
				  					<option value="https://www.sc.gov.cn/">四川省人民政府</option>
				  					<option value="http://www.gansu.gov.cn/">甘肃省人民政府</option>
				  					<option value="https://www.nx.gov.cn/">宁夏回族自治区人民政府</option>
				  					<option value="https://www.nmg.gov.cn/">内蒙古自治区人民政府</option>
				  					<option value="http://www.shanxi.gov.cn/">山西省人民政府</option>
				  					<option value="http://www.shaanxi.gov.cn/">陕西省人民政府</option>
				  					<option value="https://www.henan.gov.cn/">河南省人民政府</option>
				  					<option value="http://www.shandong.gov.cn/">山东省人民政府</option>
				  				  </select>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group select_friend">
				  <select class="form-control" id="sel1" onchange="javascript:window.open(this.options[this.selectedIndex].value);this.size=0" onmousedown="if(this.options.length>6){this.size=7}" onblur="this.size=0">
					<option value="javascript:;">沿线9省市级政府网站</option>
				  					<option value="http://www.guoluo.gov.cn/">果洛藏族自治州人民政府</option>
				  					<option value="http://www.huangnan.gov.cn/">黄南藏族自治州人民政府</option>
				  					<option value="https://www.hainanzhou.gov.cn/">海南藏族自治州人民政府</option>
				  					<option value="http://www.haidong.gov.cn/">海东市人民政府</option>
				  					<option value="http://www.gannan.gov.cn/">甘南藏族自治州人民政府</option>
				  					<option value="https://www.linxia.gov.cn/">临夏回族自治州人民政府</option>
				  					<option value="http://www.lanzhou.gov.cn/">兰州市人民政府</option>
				  					<option value="http://www.baiyin.gov.cn/">白银市人民政府</option>
				  					<option value="http://www.nxzw.gov.cn/">中卫市人民政府</option>
				  					<option value="http://www.wuzhong.gov.cn/">吴忠市人民政府</option>
				  					<option value="http://www.nxlw.gov.cn/">灵武市人民政府</option>
				  					<option value="http://www.yinchuan.gov.cn/">银川市人民政府</option>
				  					<option value="http://www.shizuishan.gov.cn/">石嘴山市人民政府</option>
				  					<option value="http://www.huhhot.gov.cn/">呼和浩特市人民政府</option>
				  					<option value="http://www.baotou.gov.cn/">包头市人民政府</option>
				  					<option value="http://www.ordos.gov.cn/">鄂尔多斯市人民政府</option>
				  					<option value="https://www.bynr.gov.cn/">巴彦淖尔市人民政府</option>
				  					<option value="http://www.wuhai.gov.cn/">乌海市人民政府</option>
				  					<option value="https://www.sxxz.gov.cn/">忻州市人民政府</option>
				  					<option value="http://www.linfen.gov.cn/">临汾市人民政府</option>
				  					<option value="http://www.lvliang.gov.cn/">吕梁市人民政府</option>
				  					<option value="http://www.yuncheng.gov.cn/">运城市人民政府</option>
				  					<option value="http://www.yanan.gov.cn/">延安市人民政府</option>
				  					<option value="http://www.yl.gov.cn/">榆林市人民政府</option>
				  					<option value="http://www.weinan.gov.cn/">渭南市人民政府</option>
				  					<option value="http://www.smx.gov.cn/">三门峡市人民政府</option>
				  					<option value="http://www.jiaozuo.gov.cn/">焦作市人民政府</option>
				  					<option value="http://www.ly.gov.cn/">洛阳市人民政府</option>
				  					<option value="http://www.zhengzhou.gov.cn/">郑州市人民政府</option>
				  					<option value="http://www.xinxiang.gov.cn/">新乡市人民政府</option>
				  					<option value="http://www.kaifeng.gov.cn/">开封市人民政府</option>
				  					<option value="http://www.puyang.gov.cn/">濮阳市人民政府</option>
				  					<option value="http://www.heze.gov.cn/">菏泽市人民政府</option>
				  					<option value="http://www.jining.gov.cn/">济宁市人民政府</option>
				  					<option value="http://www.taian.gov.cn/">泰安市人民政府</option>
				  					<option value="http://www.liaocheng.gov.cn/">聊城市人民政府</option>
				  					<option value="http://www.jinan.gov.cn/">济南市人民政府</option>
				  					<option value="http://www.dezhou.gov.cn/">德州市人民政府</option>
				  					<option value="http://www.binzhou.gov.cn/">滨州市人民政府</option>
				  					<option value="https://www.zibo.gov.cn/">淄博市人民政府</option>
				  					<option value="http://dongying.gov.cn/">东营市人民政府</option>
				  				  </select>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group select_friend">
				  <select class="form-control" id="sel1" onchange="javascript:window.open(this.options[this.selectedIndex].value);this.size=0" onmousedown="if(this.options.length>6){this.size=7}" onblur="this.size=0">
					<option value="javascript:;">陕西治黄县级政府网站</option>
				  					<option value="http://www.fg.gov.cn/">府谷县</option>
				  					<option value="http://www.sxsm.gov.cn/">神木市</option>
				  					<option value="http://www.sxjiaxian.gov.cn/">佳县</option>
				  					<option value="http://www.wubu.gov.cn/">吴堡县</option>
				  					<option value="http://www.sxsd.gov.cn/">绥德县</option>
				  					<option value="http://www.qjzhf.gov.cn/">清涧县</option>
				  					<option value="http://www.yanchuan.gov.cn/">延川县</option>
				  					<option value="http://www.yanchangxian.gov.cn/">延长县</option>
				  					<option value="http://www.ycx.gov.cn/">宜川县</option>
				  					<option value="http://www.hancheng.gov.cn/">韩城市</option>
				  					<option value="http://www.heyang.gov.cn/">合阳县</option>
				  					<option value="http://www.dalisn.gov.cn/">大荔县</option>
				  					<option value="http://www.huayin.gov.cn/">华阴市</option>
				  					<option value="http://www.tongguan.gov.cn/">潼关县</option>
				  				  </select>
				</div>
			</div>
		</div>
	</div>
	
	<!--footer-->
	<div class="container-fiuld footer_bg py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 footer_nav text-center my-3">
					<span><a href="{{ url_for('guanyubenwang') }}">关于本网</a></span>
					<span><a href="{{ url_for('lianxiwomen') }}">联系我们</a></span>
					<span><a href="{{ url_for('guanggaofuwu') }}">广告服务</a></span>
				</div>
				<div class="col-md-12 mb-3 text-center">
					©2006-2023黄河文化网－<img src="static/picture/bqlogo.png" style="width:45px">陕西省黄河文化经济发展研究会版权所有 　办公电话：15991806268　投稿邮箱：1581441306@qq.com 　地址：陕西省西安市新城区新城大院省科协楼4层25室				</div>
				<div class="col-md-12 text-center">
				<a href="https://beian.miit.gov.cn/" target="_blank">陕ICP备2022008303号-2 </a> 　
				<img src="static/picture/ga.png" style="width:25px"><a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61010202000372" style="color:#343a40" target="_blank">陕公网安备 61010202000372号</a>
				
				
				</div>
                                                         
			</div>
		</div>
	</div>
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="static/js/jquery.min.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="static/js/popper.min.js"></script>	 
	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="static/js/bootstrap.min.js"></script>
    <script>
    $(function(){
        $('.tabbox .content li:eq(0)').show();
    	$(".tabbox .tab a").mouseover(function(){
    		$(this).addClass('on').siblings().removeClass('on');
    		var index = $(this).index();
    		number = index;
    		$('.tabbox .content li').hide();
    		$('.tabbox .content li:eq('+index+')').show();
    	});
    	
    	var auto = 0;  //等于1则自动切换，其他任意数字则不自动切换
    	if(auto ==1){
    		var number = 0;
    		var maxNumber = $('.tabbox .tab a').length;
    		function autotab(){
    			number++;
    			number == maxNumber? number = 0 : number;
    			$('.tabbox .tab a:eq('+number+')').addClass('on').siblings().removeClass('on');
    			$('.tabbox .content ul li:eq('+number+')').show().siblings().hide();
    		}
    		var tabChange = setInterval(autotab,3000);
    		//鼠标悬停暂停切换
    		$('.tabbox').mouseover(function(){
    			clearInterval(tabChange);
    		});
    		$('.tabbox').mouseout(function(){
    			tabChange = setInterval(autotab,3000);
    		});
    	  }
    });
    </script>

  </body>
</html>